<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorum accusamus, quidem accusantium, reiciendis molestias ad quo necessitatibus asperiores, quam animi. Delectus, vero beatae, voluptatibus dolores alias voluptatem vel quas minima fuga rem quisquam iusto, eligendi quidem consequuntur recusandae magnam.</p>
    </div>
</div>