<div class="p-5 mb-4 bg-light rounded-3 mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dicta? Quia voluptatem rem itaque. Impedit quidem odio, recusandae, doloribus temporibus voluptatum mollitia reiciendis consequatur ducimus perspiciatis necessitatibus laboriosam, minus asperiores.</p>
</div>