
<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>Nueva Nota</h3>
    </div>
    <div class="card-body">
        <form action="/notes/newNote" method="post">
            <div class="mt-3">
                <input type="text" name="title" class="form-control" placeholder="Título" autofocus>
            </div>
            <div class="mt-3">
                <textarea name="description" class="form-control" placeholder="Descripción"></textarea>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary w-100 btn-grad-save" type="submit">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
</div>